<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.orge/extras/spring-security">

	<head>
		<meta charset="UTF-8"></meta>
		<link
			href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css"
			rel="stylesheet" id="bootstrap-css">
		</link>

		<script
			src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js">
		</script>
		
		  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	</head>

	<body>
	

		<!-- th:fragment define un fragment los cuales sirven para evitar la redundancia de codigo -->
		<!-- Sintaxis th:fragment="Nombre del fragment" -->
						
		<div th:fragment="header">
			<!-- this is header -->
			<nav class="navbar navbar-inverse" >
				<div class="container">
					
					<div class="navbar-header">

						<a class="navbar-brand" th:href="@{/plan/bienvenido}"><img style="max-width: 100px;margin-top: -35px;"  alt="logo" th:src="@{/imagenes/logo.png}" ></a>
					</div>
					
					<div id="navbar" class="collapse navbar-collapse" >
						<ul class="nav navbar-nav">
							<li ><a th:href="@{/plan/listar}">Plan</a></li>
							<li><a th:href="@{/servicio/listar}">Servicios</a></li>
							<li><a th:href="@{/dispositivo/listar}">Dispositivos</a></li>
							<li><a th:href="@{/detalleDispositivoPlan/listar}">Detalle de Dispositivos</a></li>
							<li><a th:href="@{/detalleServicioXPlan/listar}">Detalle de Servicios</a></li>
							<li><a th:href="@{/compra/listar}">Planes</a></li>
							<li><a th:href="@{/pago/listar}">Pagos</a></li>
							<li><a th:href="@{/compra/listar2}">Compras</a></li>
						</ul>
						<ul class="nav navbar-nav navbar-right">
							<li sec:authorize="!isAuthenticated()">
							<a href="#"><span class="glyphicon glyphicon-user"></span>Login</a>
							</li>
      						<li>
      						
      						<a class = "glyphicon glyphicon-user" th:href="@{/logout}">Logout</a>
      						
      						</li>
						</ul>
						 
					</div>
					
				</div>
			</nav>
		</div>
	
	</body>
	
</html>
