<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	
	<head>
		<meta charset="UTF-8"></meta>
		<title>Detalle Servicio</title>
		
		<script type="text/javascript"
				src="ajax.aspnetcdn.com/ajax/jquery.validate/1.16.0/jquery.validate.js">
		</script>
		
		<link
			href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css"
			rel="stylesheet" id="bootstrap-css">
		</link>
		
		<script
			src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js">
		</script>
		
		<script src="code.jquery.com/jquery-3.2.1.min.js"></script>
	</head>
	
	<body>
		<div th:replace="fragments/header :: header"></div>
		
		<div class="container">
		
		<form th:action="@{/detalleServicioXPlan/registrar}" method="post" th:object="${detalleServicioXPlan}">
				<div class="form-group">
					<label for="idDetalleServicioPlan">ID:</label>
					<input type="text" class="form-control" th:field="*{idDetalleServicioPlan}"></input>
					
				<div class="form-group">
					
					<label for="plan" class= "col-sm-2 col-form-label">Plan:</label>
					<select class="form-control" th:field="*{plan.idPlan}"> 
						<option th:each= "p:${listaPlanes}" th:value="${p.idPlan}"
							 	th:text="${p.nombrePlan}"
							 	th:selected="(${p.idPlan} == *{plan.idPlan})">
						</option>
					</select>	
					
					<label for="servicio" class= "col-sm-2 col-form-label">Servicio:</label>
					<select class="form-control" th:field="*{servicio.idServicio}"> 
						<option th:each= "s:${listaServicios}" th:value="${s.idServicio}"
							 	th:text="${s.nombreServicio}"
							 	th:selected="(${s.idServicio} == *{servicio.idServicio})">
						</option>
					</select>	
						
				</div>
		
			</div>
				
				<button type="submit" class="btn btn-primary">Aceptar</button>
				<a href="/detalleServicioXPlan/listar" class="btn btn-danger">Cancelar</a>
				
			</form>
		</div>
		
		<div th:replace="fragments/footer :: footer"></div>
	</body>
	
</html>
		