<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	
	<head>
		<meta charset="UTF-8"></meta>
		<title>Pagos</title>
		
		<script type="text/javascript"
				src="ajax.aspnetcdn.com/ajax/jquery.validate/1.16.0/jquery.validate.js">
		</script>
		
		<link
			href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css"
			rel="stylesheet" id="bootstrap-css">
		</link>
		
		<script
			src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js">
		</script>
		
		<script src="code.jquery.com/jquery-3.2.1.min.js"></script>
	</head>
	
	<body>
		<div th:replace="fragments/header :: header"></div>
		
		<div class="container-fluid">
			<form action="myform">
				<div class="row clearfix">
					<div class="col-md-12 column">
						
						<table class="table table-bordered table-hover table-striped" id="tab_logic">
							<thead>
								<tr>
									<th class="text-center">CODIGO</th>
									<th class="text-center">Compra</th>
									<th class="text-center">Tipo de Trajeta</th>
									<th class="text-center">Número de Tarjeta</th>
									<th class="text-center">CVV</th>
									<th class="text-center">Fecha de Vencimiento</th>
									<th class="text-center">Fecha de Pago</th>
									

								</tr>
							</thead>
							
							<tbody>
								<tr th:each="pg: ${listaPagos}">
									<td th:text="${pg.idPago}"></td>
									<td th:text="${pg.compra.idCompra}"></td>
									<td th:text="${pg.tipoTarjeta}"></td>
									<td th:text="${pg.numTarjeta}"></td>
									<td th:text="${pg.cvv}"></td>
									<td th:text="${pg.dateVencimiento}"></td>
									<td th:text="${pg.datePago}"></td>
									
							
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div th:if="${mensaje}" class="alert alert-danger">
					<p th:text="${mensaje}"></p>
				</div>
				</form>
		</div>
		
		<div th:replace="fragments/footer :: footer"></div>
	</body>
	
</html>