<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	
	<head>
		<meta charset="UTF-8"></meta>
		<title>Planes</title>
		
		<script type="text/javascript"
				src="ajax.aspnetcdn.com/ajax/jquery.validate/1.16.0/jquery.validate.js">
		</script>
		
		<link
			href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css"
			rel="stylesheet" id="bootstrap-css">
		</link>
		
		<script
			src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js">
		</script>
		
		<script src="code.jquery.com/jquery-3.2.1.min.js"></script>
	</head>
	
	<body>
		<div th:replace="fragments/header :: header"></div>
		
		
		
		<div class="container">
		
		
		
			<form th:action="@{/plan/registrar}" method="post" th:object="${plan}">
				<div class="form-group">
					<label for="idPlan">ID:</label>
					<input type="text" class="form-control" th:field="*{idPlan}"></input>
					
					<div class="form-group">
						<label for="nombre">Nombreplan:</label>
						<input type="text" class="form-control" th:field="*{nombrePlan}" id="nombre"></input>
						
						<div class="alert alert-danger" th:if="${#fields.hasErrors('nombrePlan')}" 
							th:errors="*{nombrePlan">						
						</div>
						
						
						
						<div class="form-group">
						<label for="descripcionplan">Descripcion Plan:</label>
						<input type="text" class="form-control" th:field="*{descripcionPlan}" id="descripcionplan"></input>
						
						<div class="alert alert-danger" th:if="${#fields.hasErrors('descripcionPlan')}" 
							th:errors="*{descripcionPlan">						
						</div>
						
						
						<div class="form-group">
						<label for="precioplan">Precio plan:</label>
						<input type="text" class="form-control" th:field="*{precioPlan}" id="precioplan"></input>
						
						<div class="alert alert-danger" th:if="${#fields.hasErrors('precioPlan')}" 
							th:errors="*{precioPlan">						
						</div>
						
						
					</div>
				
				</div>
				
				<button type="submit" class="btn btn-primary">Aceptar</button>
				<a href="/plan/listar" class="btn btn-danger">Cancelar</a>
				
				<div th:if="${mensaje}" class="alert alert-danger">
					<p th:text="${mensaje}"></p>
				</div>
				
			</form>
		</div>
		
		<div th:replace="fragments/footer :: footer"></div>
	</body>
	
</html>